* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #414141; }

.section-outer {
  padding-left: 20px;
  padding-right: 20px; }

.section-inner {
  max-width: 1024px;
  margin: 0 auto; }

.description-item__icon {
  margin-bottom: 20px; }

.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 30px; }

.description-item__content {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-top: 14px;
  color: #6C6C6C; }

.section-header {
  color: #ffffff;
  background: url(/image/Bitmap.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column; }
  .section-header::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(14, 27, 29, 0.5);
    z-index: 5; }
  .section-header-logo {
    padding-top: 35px;
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1; }
  .section-header-content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title, .section-header-wrapper__subtitle {
      text-align: center; }
    .section-header-wrapper__title {
      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 18px; }
    .section-header-wrapper__subtitle {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 32px;
      width: 60%;
      margin: 0 auto 44px; }
      @media (max-width: 990.98px) {
        .section-header-wrapper__subtitle {
          width: 90%; } }
    .section-header-wrapper__form {
      display: flex;
      max-width: 100%;
      height: auto; }
      .section-header-wrapper__form-input {
        flex: 1;
        padding-right: 40px; }
        .section-header-wrapper__form-input input {
          font-family: 'Montserrat', sans-serif;
          border: none;
          background-color: rgba(255, 255, 255, 0.25);
          color: #ffffff;
          font-size: 16px;
          line-height: 19px;
          margin: 0;
          padding: 19px 20px;
          outline: none;
          border-radius: 4px;
          width: 100%;
          transition: 2s; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input:focus {
            background-color: rgba(255, 255, 255, 0.5); }
      .section-header-wrapper__form-button button {
        font-family: 'Montserrat', sans-serif;
        border: none;
        font-size: 16px;
        margin: 0;
        padding: 19px 20px;
        color: #ffffff;
        background: linear-gradient(to right, #fe985b, #fe4fa7);
        outline: none;
        border-radius: 4px; }
        .section-header-wrapper__form-button button:hover {
          background-image: linear-gradient(to right, #fe4fa7, #fe985b); }
      @media (max-width: 766.98px) {
        .section-header-wrapper__form {
          flex-direction: column; }
          .section-header-wrapper__form-input {
            padding-right: 0px;
            margin-bottom: 20px; }
          .section-header-wrapper__form-button {
            flex: 1; }
            .section-header-wrapper__form-button button {
              width: 100%; } }

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px; }

.section-promo-1 {
  display: flex; }
  .section-promo-1__content, .section-promo-1__video {
    flex-basis: 50%; }
  .section-promo-1__content .title {
    font-size: 26px;
    line-height: 51px;
    font-weight: bold;
    margin-bottom: 46px; }
  .section-promo-1__video img {
    margin-top: 7px;
    max-width: 100%;
    height: auto; }
  @media (max-width: 766.98px) {
    .section-promo-1 {
      flex-direction: column; }
      .section-promo-1__video {
        order: -1;
        margin-bottom: 20px; } }
  @media (min-width: 991.98px) {
    .section-promo-1__content {
      padding-right: 90px; } }

.section-promo-2 {
  display: flex;
  text-align: center;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2; }
  .section-promo-2 .description-item + .description-item {
    margin-left: 40px; }
  @media (max-width: 766.98px) {
    .section-promo-2 {
      flex-direction: column;
      align-items: center; }
      .section-promo-2 .description-item + .description-item {
        margin-left: 0px; }
      .section-promo-2 .description-item {
        margin-bottom: 30px; } }

.section-founder {
  display: flex;
  background-color: #F6FAFD; }
  .section-founder__content {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 40px; }
    .section-founder__content-name {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      line-height: 29px;
      font-weight: bold;
      margin-top: 37px; }
    .section-founder__content-post {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      line-height: 24px; }
  .section-founder .section-inner {
    display: flex;
    align-items: center; }
  @media (max-width: 766.98px) {
    .section-founder .section-inner {
      flex-direction: column; }
    .section-founder__img img {
      padding-top: 34px;
      padding-bottom: 20px;
      max-width: 100%; } }
  @media (min-width: 767.98px) {
    .section-founder__content {
      margin-left: 45px;
      padding-bottom: 40px; } }

.section-plans {
  text-align: center; }
  .section-plans__header-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 17px;
    margin-top: 115px; }
  .section-plans__header-text {
    width: 60%;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
    margin-bottom: 60px; }
  .section-plans .section-plans__free {
    padding: 45px; }
    @media (max-width: 766.98px) {
      .section-plans .section-plans__free {
        justify-content: center;
        padding: 0px;
        padding-right: 20px;
        padding-bottom: 20px; } }
  .section-plans .section-plans__premium {
    padding: 45px; }
    @media (max-width: 766.98px) {
      .section-plans .section-plans__premium {
        justify-content: center;
        padding: 0px; } }
  .section-plans .section-plans__form {
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 150px; }
    @media (max-width: 766.98px) {
      .section-plans .section-plans__form {
        justify-content: center; } }
    @media (max-width: 574.98px) {
      .section-plans .section-plans__form {
        justify-content: center;
        flex-direction: column; } }
  .section-plans .section-plans_free-pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 28px; }
  .section-plans .section-plans_premium-pricing {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .section-plans__free {
    background-color: #f6fafd; }
    .section-plans__free-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px; }
    .section-plans__free-price {
      font-weight: bold;
      font-size: 72px;
      line-height: 86px;
      color: #fe4fa7; }
    .section-plans__free-x {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-top: 57px; }
    .section-plans__free-description {
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 36px; }
    .section-plans__free-button button {
      color: #ffffff;
      background: linear-gradient(90deg, #FE985B, #FE4FA7);
      padding: 12px 52px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 22px;
      border: none;
      margin: 0; }
  .section-plans__premium {
    padding-bottom: 66px; }
    .section-plans__premium-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px; }
    .section-plans__premium-price {
      font-weight: bold;
      font-size: 72px;
      line-height: 86px;
      color: #fe4fa7; }
    .section-plans__premium-x {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-top: 57px; }
    .section-plans__premium-description {
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 36px; }
    .section-plans__premium-button button {
      padding: 12px 52px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 22px;
      border: 1px solid grey;
      transition: 0.2s; }
      .section-plans__premium-button button:hover {
        border-color: #fe4fa7;
        color: #fe4fa7; }

.section-free {
  display: flex;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(90deg, #FE985B, #FE4FA7); }
  .section-free__title {
    margin-top: 120px;
    padding-bottom: 28px;
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
    transition: 2s; }
    .section-free__title:hover {
      color: black; }
  .section-free__description {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto; }
  .section-free__button {
    margin-bottom: 115px; }
    .section-free__button a {
      background-color: #ffffff;
      padding: 12px 52px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 22px;
      border: none;
      margin: 0;
      text-decoration: none;
      border-radius: 4px; }
  @media (min-width: 991.98px) {
    .section-free__description {
      width: 55%; } }

.section-footer {
  text-align: center; }
  .section-footer__logo {
    margin-top: 86px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold; }
    @media (max-width: 766.98px) {
      .section-footer__logo {
        padding-left: 35px; } }
  .section-footer__nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 73px; }
    .section-footer__nav a {
      text-decoration: none;
      color: #464646;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase; }
      .section-footer__nav a.active, .section-footer__nav a:hover {
        color: #fe50a6; }
    @media (min-width: 767.98px) {
      .section-footer__nav li + li {
        margin-left: 60px; } }
    @media (max-width: 766.98px) {
      .section-footer__nav {
        flex-direction: column;
        text-align: center; }
        .section-footer__nav li + li {
          margin-top: 10px; } }
  .section-footer__copyright {
    justify-content: space-between; }
    .section-footer__copyright-description {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      color: #464646;
      font-size: 14px;
      line-height: 17x;
      list-style-type: none;
      margin-top: 18px;
      padding: 0px; }
    .section-footer__copyright-helper {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      list-style-type: none;
      padding: 0px; }
      .section-footer__copyright-helper li + li {
        margin-left: 17px; }
      .section-footer__copyright-helper li a {
        color: #464646;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        margin: 0px;
        padding: 0px; }
        .section-footer__copyright-helper li a:hover {
          text-decoration: underline; }
    @media (min-width: 767.98px) {
      .section-footer__copyright {
        display: flex; } }
    @media (max-width: 766.98px) {
      .section-footer__copyright {
        flex-direction: column;
        text-align: center;
        display: inline-flex; } }
